
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #8C6B46;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #555;
}

/* Main Content Styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.info {
    text-align: center;
}

form-group {
    margin-top: 20px;
}

.Ingred {
    color: #fff;
    font-size: 1.2em;
}
#Ing {
    color: #F1C40F;
}
p {
    font-size: 1.2rem;
    color: #fff;
}

input[type="name"],
        input[type="email"],
        select,
        textarea {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
        } 

        button {
            font-size: 1.2em;
        }

      .form-group {
        margin-bottom: 15px;
        margin-left: 20px;
      }
      
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #F1C40F;
      }


.features {
    margin-top: 10px;
}

/* Gallery Styles */
.gallery {
    margin-top: 20px;
    text-align: center;

}

.gallery img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.pe {
    text-align: center;
color: #ffff;    

}

.topic {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #F1C40F;
}

footer {
    line-height: 50px;
        margin-top: 0px;
        text-align: center;
        background: #333;
        margin-bottom: -5px;
    }
    
    footer p {
        font-size: 1.30em;
        color: white;
    }
    
    #lastModified {
        color: #fff;
    
    }

/* Media Queries */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    header h1 {
        font-size: 22px;
    }

    nav a {
        padding: 3px 10px;
        margin: 0 5px;
    }

    .gallery img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 18px;
    }

    nav a {
        padding: 3px 8px;
        margin: 0 3px;
    }
}
