body{
    background-color: antiquewhite;
}
#frame{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px
    
    
}

h2 {
    margin-left: 20px;
    font-size: 1.7rem;

}

.s{
    text-align: left;
}
h1 {
    font-size: 1.7rem;
    color: skyblue;
}

.name{
    width: 400px;
background-color: #8C6B46;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: white;
}
.purpose {
    background-color: aquamarine;
    width: 400px;
    text-align: center;
    font-size: 1.2rem;
}

.scena {
    background-color: #F1C40F;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    width: 400px;

}

h3{
    font-size: 1.7rem;
    color:#8C6B46 ;
 
}
.color {
    font-family: cursive;
    font-size: 1.2rem;
    color:#8C6B46 ;

}
.typo {
    font-family: cursive;
    font-size: 1.2rem;
    color: darkgray ;
    width: 600px;
    height: 500px;
}

.fram {
    margin-top: 20px;
}