@media (min-width: 768px) {
    .combine{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -81px;
        width: 100%;
    }
        
    
  
  
   
    .Data {
    flex: 1 1 100%;
  }
 
    picture{
        width: 100%;
    }
    
    
    .img {
        max-width: 1500px;
    }

}