
h2{
    text-align: center;
    background-color: green;
    font-size: 5em;
    height: 100px;
    color: white;
    padding-top: 25px;
    margin-top: 0px;
    
}

  main {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

 .frame{    
        width: 100%;
        height: 100%;
        object-fit: cover; 
        margin-top: -77px; 
        margin-bottom: -17px;
} 

.Data{
    display: grid;
    grid-template-rows: 100px 100px;
    
    
}
.grid{
    grid-column: 3/1;
    grid-row: 4/6;
    background-color: white;
    height: 380px;
    width: 340px;
    margin-top: -680px ;
    margin-left: 25px;
    text-align: center;
}
h1{
    background-color: blueviolet;
    width: 250px;
    line-height: 50px;
    padding-top: 20px;
    color: aliceblue;
    text-align: left;
    font-size: 2em;

}
.inf{
    
    font-size: 1.1em;
    color: blue;
    font-family: "Dancing Script", cursive;
    text-align: left;
    margin-left: 40px;

}

    

.weather{
    grid-column: 5/7;
    grid-row: 2/2;
    height: 330px;
    background-color: blue;
    width: 260px;
    margin-left: 1100px;
    margin-top: -560px;
    border-radius: 30px;
    
}
  
.weather-info{
    font-size: 1.2rem;
    margin-left: 20px;
    color-scheme: yellow;
    color: aqua;
}

.weather-icon{
    margin-top: -80px;
    margin-left: 110px;
}

h3{
    
    color: red;
    background-color:blueviolet ;
    width: 200px;
    height: 55px;
    font-size: 1.7em;
    margin-left: -20px;
    }

 

footer {

    text-align: center;
    background: green;
    line-height: 50px;
    margin-top: -26.1px;
}

footer p {
    font-size: 1.70em;
    color: white;
}

#lastModified {
    color: whitesmoke;

}

 
  .weather-icon img {
    width: 50px;
    height: 50px;
  }
  
  .weather h3::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 50px;
    background-image: url("weather-icon.svg");
    vertical-align: middle;
    margin-left: 10px;
  }
  
  @media (max-width: 767px) {
    .weather h3::after {
      display: none;
    }
  
    .weather-icon img {
      width: 50px;
      height: 50px;
    }
  }
   
  