@media (min-width: 767px) {
    wnav {
      flex-direction: row;
      justify-content: center;
    }
  
    wnav a {
      padding: 1rem;
    }
    nav a {
    flex: 1 1 100%;
  }
 
  w.nav-menu {
    display: flex;
    list-style-type: none;
  }
  
  w.nav-menu li {
    margin-left: 1rem;
  }
  
w.nav-menu li a {
    color: #fff;
    text-decoration: none;
  }
    
  
    w.fi{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       gap: 1rem;
    }
    wfigure {
      margin: 0;
    }
  
}