@media (min-width: 768px) {
    nav {
      flex-direction: row;
      justify-content: center;
    }
  
    nav a {
      padding: 1rem;
    }
    nav a {
    flex: 1 1 100%;
  }
 
    
  
    .fi{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       gap: 1rem;
    }
    figure {
      margin: 0;
    }
  
    .hamburger {
        display: block;
      }
    
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
    
    

  
  