@media (min-width: 768px) {
    nav {
      flex-direction: row;
      justify-content: center;
    }
  
    nav a {
      padding: 1rem;
    }
    nav a {
    flex: 1 1 100%;
  }
  .hamburger-menu {
    display: block;

    z-index: 2;
}
    wmain {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  
    .fi{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       gap: 1rem;
    }
    figure {
      margin: 0;
    }
  
    
  }
  